* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$wrapper_width: 800px;
$wrapper_height: 800px;

body{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .centred{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .unselectable{
  user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  //.hidden{
  //  display: none;
  //}

  main{
    background-color: black;
    width: $wrapper_width;
    height: $wrapper_height;
    color: whitesmoke;

    #start{
      width: 100%;
      height: 100%;
      font-family: "pixel", serif;


      #darkStartWindow{ // 'GAME' for 4s, then opacity 0
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 50px;
        animation: starting 4s linear;
        animation-fill-mode: both; //animation changes stays after
      }
      
      @keyframes starting {
        0% { opacity: 0;}
        50% { opacity: 100}
        100% { opacity: 0;}
      }
      #logoStartMenue{
        font-size: 70px;
        padding: 80px;
      }
      #playBtnWindow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 50px;
      }
      #startBtn{
        padding: 140px 0;
      }
    }
    #game{
      display: none;
    }
  }

  
}

@font-face {
  font-family: 'pixel';
  src: url('fonts/Break Password/BreakPassword.otf'); //дописать урл-ы
}